@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
  scroll-behavior: smooth;
  @apply font-madini
}

.gradient {
  background: linear-gradient(180deg, #FFF2DD 0%, #FFF2DD 20%);
  filter: blur(200px);
  @apply rounded-full
}
